extends ../main

block title
	|Мои роботы
block content
	include ../layout/hero
	section.section.works
		svg(viewbox="0 0 1000 100" preserveAspectRatio="none").triangle.triangle_fill_cararra.works__triangle
			polygon(points="0,0 0,1000 1000,100")
		svg(viewbox="0 0 1000 100" preserveAspectRatio="none").triangle.triangle_fill_cararra.triangle_right.works__triangle
			polygon(points="0,0 0,1000 1000,100")
		h2.title.works__title
			|Мои роботы
	include ../layout/portfolio
	include ../layout/reviews
	include ../layout/footer