.btn-nav
	display: flex
	&__item
		flex: 1 1
		text-align: center
		border-right: 2px solid #fff
		&:last-child
			border-right: none
	&__link
		display: block
		padding: 14px 10px
		color: #ffffff
		background-color: $asparagus
		+shift()
		&:hover
      background: $fernGreen