.feedback
	max-width: 380px
	margin: 0 auto
	padding-top: 30px
	border-radius: 5px
	background-color: rgba(218, 219, 214, 0.6)
.feedback-form
	padding: 0 20px
.feedback__title
	margin-bottom: 60px
	
.feedback-form__text
	margin-bottom: 20px

.feedback-form__btn
