// ЦВЕТА
$titles: #373e42
$main: #566358
$greenWhite: #e9ede0
$cararra: #f1f2ed
$fernGreen: #4e8839
$asparagus: #6c9c5a
$gray: #ecebe4

// РАЗМЕРЫ
$baseFontSize: 16px


// ШРИФТЫ
$roboto: "Roboto", Arial, sans-serif
$sunsus: "Sunsus", Arial, sans-serif