.works
	position: relative
	text-align: center
	background: $cararra
	&__title
		margin: 0 auto
		background: url(../img/works_header.svg) no-repeat center center 
		background-size: contain
		margin-bottom: 60px
	&__triangle
		position: absolute
		display: block
		bottom: 100%
		width: 50%
.slider
