.feedback
	h3.sub-title.feedback__title
		| Связатся со мной
	form.feedback-form
		input(type="text" name="name" placeholder="Имя").feedback-form__name._req
		input(type="email" name="email" placeholder="Email").feedback-form__email._req
		textarea(name="massege", cols="40", rows="6" placeholder="Ваше сообщение").feedback-form__text._req
		ul.btn-nav.feedback-form__btn
			li.btn-nav__item
				//- a(href="#").btn-nav__link Отправить
				button(type="submit").btn-nav__link Отправить 
			li.btn-nav__item
				//- a(href="#").btn-nav__link Очистить
				input(type="reset" value="Очистить").btn-nav__link