include humburger-menu
section.section.hero(data-speed="2")
	include socials
	.hero__title
		.user.hero__user-block
			.user__photo
				.user__photo-avatar
					img(src="static/img/avatar.jpg", alt="")
			h2.title.user__name.user__name-blog Блог
			.user__desc Статьи