.popup.popup--error
	.popup__body
		.popup__content
			h3.popup__title Произошла ошибка
			p.popup__text 
				| Данный сервер не поддерживает отправку писем через форму. Пожалуйста отправте свое сообщение на e-mail: <a class = "popup__link" href="mailto:kirichenko.e.o@gmail.com">kirichenko.e.o@gmail.com</a> 
			button.btn.popup__btn Закрыть