section.section.preloader
	//- .preloader__animation
	.preloader__percents 0%
		//- svg(version="1.1" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid" width="90" height="90" viewBox='0 0 36 36').svg-prel
		//- 	circle(opacity="0.6" fill="none" stroke-width="8" cx="18" cy="18" r="14").svg-prel__big-circle
		//- 	circle(cx="14" cy="4" r="4").svg-prel__little-circle
		//- 			animateTransform(
		//- 					type="rotate" 
		//- 					accumulate="none" 
		//- 					attributeName="transform" 
		//- 					dur=".8s" 
		//- 					from="0 18 18" 
		//- 					to="360 18 18" 
		//- 					repeatCount="indefinite")