section.section.slider
	.slider__desc
		.slider__desc-info
			.slider__desc-title
				|Сайт школы онлайн <br>образования
			.slider__desc-skills
				|HTML , CSS, JAVASCRIPT
			.slider__desc-btn
				a(href="#").btn.btn__slider  
					+icon("link", "slider__desc-icon")
					|Посмотреть сайт
	.slider__display
		ul.slider__display-list
			li.slider__display-item
				.slider__display-pic
					img.slider__display-img(src="static/img/work-1.png")
	.slider__btns
		a.slider__btn.slider__btn_left(href="#")
		a.slider__btn.slider__btn_right(href="#")