.welcome__user
	.user
		.user__photo
			.user__photo-avatar
				img(src="static/img/avatar.jpg", alt="")
		.user__name Евгений Кириченко
		.user__desc Личный сайт веб-разработчика
	ul.socials
		each item in socials
			li.socials__item
				a(href="#" class="socials__link socials__link_" + item)
					+icon(item, "welcome-icon")
	ul.btn-nav.welcome__btn-nav
		each link in ["Мои работы","Обо мне","Блог"]
			li.btn-nav__item
				case link
					when "Мои работы"
						a(href="index.html").btn-nav__link=link
					when "Обо мне"
						a(href="about.html").btn-nav__link=link
					when "Блог"
						a(href="blog.html").btn-nav__link=link